body{
    font-family: "Comic Sans MS",sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo.jpg");
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}
.textoInicial{
    padding: 20px;
    margin: 20px 20px 20px 20px;
    background-color: white;
    border: 3px solid black;
}

header {
    background: whitesmoke;
    width:100%;
    padding:20px;

    /* Flexbox */
    display: flex;
    justify-content:space-between;
    align-items:center;

    flex-direction:row;
    flex-wrap:wrap;
}
header .logo {
    color:#fff;
    font-size:30px;
}
header .logo a {
    color: black;
    text-decoration: none;
    line-height:50px;
}
header nav {
    width:50%;
    /* Flexbox */

    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
header nav a {
    background:darkgray;
    color:black;
    text-align: center;
    text-decoration: none;
    padding:10px;

    /* Flexbox */
    flex-grow:1;
}

header nav a:hover {
    background:#e74c3c;
}
h3{
    padding: 15px;
}
form {
    border: 3px solid #f1f1f1;
    font-family: Arial, sans-serif;
}

.suscripcion {
    padding: 20px;
    background-color: #f1f1f1;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
.suscripcion p{
    text-align: center;
}

.separador {
    padding: 5px;
}


