* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background:#ccc;
    width:90%;

    margin:auto;

    /* Flexbox */
    display:flex;
    flex-flow:row wrap;
}

body {
    background:#e9e9e9;
}

header {
    background:#2c3e50;
    width:100%;
    padding:20px;

    /* Flexbox */
    display: flex;
    justify-content:space-between;
    align-items:center;

    flex-direction:row;
    flex-wrap:wrap;
}

header .logo {
    color:#fff;
    font-size:30px;
}

header .logo img {
    width:50px;
    vertical-align: top;
}

header .logo a {
    color:#fff;
    text-decoration: none;
    line-height:50px;
}

header nav {
    width:50%;
    /* Flexbox */

    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

header nav a {
    background:#c0392b;
    color:#fff;
    text-align: center;
    text-decoration: none;
    padding:10px;

    /* Flexbox */
    flex-grow:1;
}

header nav a:hover {
    background:#e74c3c;
}

.main {
    background:#fff;
    padding:20px;

    flex:1 1 70%;
    /*flex:1;*/
}

.main-container {
    margin-bottom: 20px;
    padding-bottom:20px;
    border-bottom:1px solid black;
}

.main-container:nth-last-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom:none;
}

footer {
    background:black;
    width: 100%;
    padding:20px;

    /* Flexbox */
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

