body{
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo.jpg");
}
.Inici{
    background-color: #4CAF50;
    width: 99%;
    margin: auto;
    padding-top: 10px;

    /*flex*/
    display: flex;
    flex-flow: row wrap;
}
.separador{
    padding: 5px;
}

.grid{
    max-width: 95%;
    margin: auto;
    background-color: white;
}

.main-container{
    padding: 0 50px 40px;
}
.main-container article h1{
    border-bottom: 1px solid black;
    font-size: 15px;
    text-align: center;
    margin: 20px 20px 20px 20px;
}
.main-container h3{
    font-size: 35px;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 20px 20px;

}
.main-container p{
    margin: 20px 20px 20px 20px;

}

.main-container article img{
    width: 50%;
    border-radius: 20px;
}

.collage img{
    width: 95%;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    height: 90%;
}
.contacto{
    width: 95%;
    height: 85%;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    margin:auto;
}





