@media screen and (max-width: 1024px) {

    .main-container article img{
        width: 100%;
    }

    @media screen and (max-width: 650px) {
        .articles {
            font-size: 15px;
        }
        .articles h2 , p{
            text-align: center;
            font-size: 15px;
        }
        .noticias div h3{
            font-size: 10px;
        }
        .noticias div img{
            margin-left: 30px;
        }
        .articles img{
            width: 50%;
        }
    }

}
@media screen and (max-width: 1500px) {
    .noticias {
        flex-direction: column;
        width: 100%;
    }
    .noticias p{
        display: flex;
        font-size: 18px ;
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction:column;
    }

    header {
        flex-direction:column;
        padding:0;
    }

    header .logo {
        margin:20px 0;
    }

    header nav {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {
    footer p {
        margin: auto;
    }
}

@media screen and (max-width: 410px) {
    .contacto h1 {

        margin-left: 15%;
    }
}
