*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("../img/fondo.jpg");

}
.noticias{
    margin: 10px 10px 10px 10px ;
    background-color: white;
    width: 99%;
    display: flex;

}
.noticias div{
    border: 3px solid gray;

}
.noticias div p{
    padding: 5px;
    display: flex;
    font-size: 18px ;
    width: 90%;

}
.noticias div h3{
    font-size: 20px;
    text-align: left;
}
.noticias div img{
    align-content: center;
    padding: 10px;
    width: 50%;
    margin-left: 70px;
}