/*Artistas semanals */
.artistas{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.main img{
    width: 65%;
    margin-left: 5px;
    border-radius: 60px;
    box-shadow: 5px 5px 5px 5px black;
    border: 5px solid black;

}
section{
    padding: 20px;
    float: left;
    width: 50%;
    height: 700px;
    overflow: auto;
    font-size: 20px;
}
div{
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.artistas  p{
    text-align: left;
    background-color: #ffe5bf;
    width: 98%;
    border: 2px solid red;
    padding: 15px;
    border-radius: 50px 20px;
    font-family: "Comic Sans MS", sans-serif;
}
.artistas h3{
    text-align: left;
    background-color: #ffe5bf;
    width: 100%;
    border: 2px solid red;
    padding: 20px;
    border-radius: 50px 20px;
    font-family: Impact,sans-serif;
    margin-bottom: 5px;

}
h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    padding-top: 10px;
}
h4{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
}

.rating{
    margin-top: 15px;
    margin-left: 5px;
}
.checked {
    color: orange;
}
table, th, td {
    border: 1px solid black;
}
.artistasemana{
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 450%;
}
/* Contacto */
.contacto{

    text-align: left;
    border: 3px solid black;
    width: 88.5%;
    height: 40%;
    background-color: whitesmoke;
    padding: 50px;
    position: absolute;
    top: 170%;
    left: 80px;
    font-family: "Comic Sans MS", sans-serif;
}
body {font-family: Arial, Helvetica, sans-serif;}

form {
    border: 3px solid #f1f1f1;
    font-family: Arial, sans-serif;
}

.suscripcion {
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}
.suscripcion p{
    text-align: center;
}
.contactfut{
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 230%;
}
.separador{
    padding: 5px;
}
