body {
    font-family: "Comic Sans MS", sans-serif;
    line-height: 1;
    background-image: url("../img/fondo.jpg");
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    width: 99%;
    table-layout: fixed;
}

table caption {
    font-size: 25px;
    margin: 8px 0 13px;
}

table tr {
    background-color: whitesmoke;
    border: 3px solid black;
    padding: 13px;
}

table th, table td {
    padding: 5px;
    text-align: center;
}

table th {
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: black;
    color: white;

}
caption{
    font-style: oblique;
    background-color: white;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 25px;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid black;
        display: block;
        margin-bottom: 10px;
    }

    table td {
        border-bottom: 1px solid white;
        display: block;
        font-size: 14px;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}